# .dockerignore

# Binaries & build output
main
*.exe
*.out
*.log

# VCS & tooling
.git
.gitignore

# Config & secrets
.env
.env.*

# Dev/Editor
*.swp
*.swo
.idea/
.vscode/
node_modules/
tmp/

Dockerfile
docker-compose.yml
docker-compose.*.yml
