# ===============================
# Golang Build Artifacts
# ===============================
/bin/
/build/
/tmp/
/*.exe
/*.dll
/*.so
/*.dylib
/*.test

# ===============================
# Dependency directories
# ===============================
/vendor/

# ===============================
# Go modules
# ===============================
go.sum

# ===============================
# Editor & IDE files
# ===============================
.vscode/
.idea/
*.swp
*.swo
*.swn

# ===============================
# Environment Files
# ===============================
# Ignore real secrets
.env
.env.dev
.env.prod
.env.staging

# Tapi tetap sertakan file contoh
!.env.example

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Log Files
# ===============================
*.log

# ===============================
# Node (Kalau ada frontend atau assets)
/node_modules/

# ===============================
# Air specific
# ===============================
tmp/
.air.toml

# ===============================
# Docker (Optional)
# ===============================
/docker-compose.override.yml
